# 3D

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

import geopy as gp

from shapely.geometry import Point, Polygon

import rasterio as rio
from rasterio.plot import show
from rasterio.windows import Window

import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep

import open3d as o3d

In [2]:
from functions import *
from raster2xyz import raster2xyz

## Enter an address, get a location

In [3]:
# Google API

country_code = -1

while country_code != 'BE':
    address = input("Please, enter an address in Begium:\n")

    locator = gp.geocoders.GoogleV3(api_key='AIzaSyDacLsXq8ZFwGBmIxf5jzC94C42get2lJs')
    location = locator.geocode(address, timeout=10)

    postcode = int(location.raw['address_components'][-1]['long_name'])
    country_code = location.raw['address_components'][-2]['short_name']
    coord = (location.latitude, location.longitude)

print("Latitude = {}, Longitude = {}, Postcode = {}".format(coord[1], coord[0], postcode))

Please, enter an address in Begium:
mons grand place
Latitude = 3.9525536, Longitude = 50.4545097, Postcode = 7000

## From coordinates to correct crs

In [4]:
p = gpd.GeoSeries([Point(coord[1], coord[0])])
p.crs = 'epsg:4326'
p = p.to_crs(epsg=31370)
print(p[0])

x = p[0].x
y = p[0].y

POINT (120444.9033320513 127156.6028031716)

In [5]:
path_dsm = set_path_dsm('HAINAUT')

## Transform the dsm into dataframe

In [6]:
shape = [{'type': 'Polygon', 
          'coordinates': [[(x+740, y+740), 
                           (x-740, y+740), 
                           (x-740, y-740), 
                           (x+740, y-740)]]}]

In [7]:
base_dsm = raster2xyz.translate_from_cropped(get_mask(path_dsm, shape))

In [8]:
base_dsm[0].describe()

                  x             y             z
count  2.193361e+06  2.193361e+06  2.193361e+06
mean   7.400000e+02  7.400000e+02  4.268991e+01
std    4.275279e+02  4.275279e+02  9.988903e+00
min    0.000000e+00  0.000000e+00  2.739000e+01
25%    3.700000e+02  3.700000e+02  3.449937e+01
50%    7.400000e+02  7.400000e+02  3.961192e+01
75%    1.110000e+03  1.110000e+03  4.848000e+01
max    1.480000e+03  1.480000e+03  1.422800e+02

In [9]:
base_dsm[0]

            x     y          z
0           0     0  31.150000
1           1     0  31.299999
2           2     0  31.650000
3           3     0  31.190001
4           4     0  31.160000
...       ...   ...        ...
2193356  1476  1480  33.540001
2193357  1477  1480  33.549999
2193358  1478  1480  33.580002
2193359  1479  1480  33.590000
2193360  1480  1480  33.590000

[2193361 rows x 3 columns]

In [10]:
base_dsm[1]

(119704.0, 127896.99999999927)

In [11]:
print(x - 740, y - 740)

119704.90333205133 126416.60280317161

In [12]:
df_base_dsm = get_dataframe(base_dsm)

In [13]:
df_base_dsm.describe()

                  x             y             z
count  2.193361e+06  2.193361e+06  2.193361e+06
mean   1.204440e+05  1.286370e+05  4.268991e+01
std    4.275279e+02  4.275279e+02  9.988903e+00
min    1.197040e+05  1.278970e+05  2.739000e+01
25%    1.200740e+05  1.282670e+05  3.449937e+01
50%    1.204440e+05  1.286370e+05  3.961192e+01
75%    1.208140e+05  1.290070e+05  4.848000e+01
max    1.211840e+05  1.293770e+05  1.422800e+02

In [14]:
df_base_dsm

                x         y          z
0        119704.0  127897.0  31.150000
1        119705.0  127897.0  31.299999
2        119706.0  127897.0  31.650000
3        119707.0  127897.0  31.190001
4        119708.0  127897.0  31.160000
...           ...       ...        ...
2193356  121180.0  129377.0  33.540001
2193357  121181.0  129377.0  33.549999
2193358  121182.0  129377.0  33.580002
2193359  121183.0  129377.0  33.590000
2193360  121184.0  129377.0  33.590000

[2193361 rows x 3 columns]

In [15]:
df_base_dsm.to_csv('hainaut.csv', index=False)

In [16]:
show_pcd(df_base_dsm)

In [17]:
print(x)
print(y)

120444.90333205133
127156.60280317161

In [18]:
df_base_dsm['x'].mean()

120444.0

In [19]:
df_base_dsm['y'].mean()

128636.99999999978

In [20]:
small = df_base_dsm[(df_base_dsm["x"] <= x + 25) & 
                    (df_base_dsm["x"] >= x - 25) & 
                    (df_base_dsm["y"] <= y + 25) & 
                     (df_base_dsm["y"] >= x - 25)]

In [21]:
small

Empty DataFrame
Columns: [x, y, z]
Index: []

In [22]:
hainaut = pd.DataFrame()
hainaut['x'] = base_dsm[0]['x'] + x - 740
hainaut['y'] = base_dsm[0]['y'] + y - 740
hainaut['z'] = base_dsm[0]['z']

In [23]:
hainaut

                     x              y          z
0        119704.903332  126416.602803  31.150000
1        119705.903332  126416.602803  31.299999
2        119706.903332  126416.602803  31.650000
3        119707.903332  126416.602803  31.190001
4        119708.903332  126416.602803  31.160000
...                ...            ...        ...
2193356  121180.903332  127896.602803  33.540001
2193357  121181.903332  127896.602803  33.549999
2193358  121182.903332  127896.602803  33.580002
2193359  121183.903332  127896.602803  33.590000
2193360  121184.903332  127896.602803  33.590000

[2193361 rows x 3 columns]

In [ ]:
hainaut.to_csv('hainaut.csv', index=False)

In [ ]:
size = 100

In [ ]:
tempdf = hainaut[(hainaut["x"] <= x + size) & 
                    (hainaut["x"] >= x - size) & 
                    (hainaut["y"] <= y + size) & 
                    (hainaut["y"] >= y - size)]

In [ ]:
tempdf

In [ ]:
meanx = tempdf['x'].mean()
meany = tempdf['y'].mean()
minz = tempdf['z'].min()

In [ ]:
final = pd.DataFrame()
final['x'] = tempdf['x'] - meanx
final['y'] = tempdf['y'] - meany
final['z'] = tempdf['z'] - minz

In [ ]:
final.describe()

In [ ]:
show_pcd(final)

In [ ]:
show_poisson(final)

In [ ]:
pcd = o3d.geometry.PointCloud()
pcd.points = o3d.utility.Vector3dVector(final.to_numpy())
pcd.estimate_normals(search_param=o3d.geometry.KDTreeSearchParamHybrid(radius=0.1, max_nn=30))

with o3d.utility.VerbosityContextManager(o3d.utility.VerbosityLevel.Debug) as cm:
    poisson_mesh, densities = o3d.geometry.TriangleMesh.create_from_point_cloud_poisson(
        pcd, depth=5, linear_fit =True)

densities = np.asarray(densities)
density_colors = plt.get_cmap('viridis')(
    (densities - densities.min()) / (densities.max() - densities.min()))
density_colors = density_colors[:, :3]
density_mesh = o3d.geometry.TriangleMesh()
density_mesh.vertices = poisson_mesh.vertices
density_mesh.triangles = poisson_mesh.triangles
density_mesh.triangle_normals = poisson_mesh.triangle_normals
density_mesh.vertex_colors = o3d.utility.Vector3dVector(density_colors)

vertices_to_remove = densities < np.quantile(densities, 0.01)
density_mesh.remove_vertices_by_mask(vertices_to_remove)

In [ ]:
o3d.io.write_triangle_mesh("houses.obj", density_mesh)