# 3D

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

import geopy as gp

from shapely.geometry import Point, Polygon

import rasterio as rio
from rasterio.plot import show
from rasterio.windows import Window

import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep

import open3d as o3d

In [2]:
from functions import *
from raster2xyz import raster2xyz

## Enter an address, get a location

In [3]:
# Google API

country_code = -1

while country_code != 'BE':
    address = input("Please, enter an address in Begium:\n")

    locator = gp.geocoders.GoogleV3(api_key='AIzaSyDacLsXq8ZFwGBmIxf5jzC94C42get2lJs')
    location = locator.geocode(address, timeout=10)

    postcode = int(location.raw['address_components'][-1]['long_name'])
    country_code = location.raw['address_components'][-2]['short_name']
    coord = (location.latitude, location.longitude)

print("Latitude = {}, Longitude = {}, Postcode = {}".format(coord[1], coord[0], postcode))

Please, enter an address in Begium:
mons grand place
Latitude = 3.9525536, Longitude = 50.4545097, Postcode = 7000

## From coordinates to correct crs

In [4]:
p = gpd.GeoSeries([Point(coord[1], coord[0])])
p.crs = 'epsg:4326'
p = p.to_crs(epsg=31370)
print(p[0])

x = p[0].x
y = p[0].y

POINT (120444.9033320513 127156.6028031716)

In [5]:
path_dsm = set_path_dsm('HAINAUT')

## Transform the dsm into dataframe

In [6]:
shape = [{'type': 'Polygon', 
          'coordinates': [[(x+750, y+750), 
                           (x-750, y+750), 
                           (x-750, y-750), 
                           (x+750, y-750)]]}]

In [7]:
base_dsm = raster2xyz.translate_from_cropped(get_mask(path_dsm, shape))

In [8]:
base_dsm[0].describe()

                  x             y             z
count  2.253001e+06  2.253001e+06  2.253001e+06
mean   7.500000e+02  7.500000e+02  4.252172e+01
std    4.333014e+02  4.333014e+02  9.947313e+00
min    0.000000e+00  0.000000e+00  2.739000e+01
25%    3.750000e+02  3.750000e+02  3.439000e+01
50%    7.500000e+02  7.500000e+02  3.941000e+01
75%    1.125000e+03  1.125000e+03  4.823000e+01
max    1.500000e+03  1.500000e+03  1.422800e+02

In [9]:
base_dsm[0]

            x     y          z
0           0     0  31.360001
1           1     0  31.340000
2           2     0  31.360001
3           3     0  31.340000
4           4     0  39.500000
...       ...   ...        ...
2252996  1496  1500  33.770000
2252997  1497  1500  33.720001
2252998  1498  1500  33.680000
2252999  1499  1500  33.700001
2253000  1500  1500  33.709999

[2253001 rows x 3 columns]

In [10]:
base_dsm[1]

(119694.0, 127906.99999999927)

In [11]:
print(x - 750, y - 750)

119694.90333205133 126406.60280317161

In [12]:
df_base_dsm = get_dataframe(base_dsm)

In [13]:
df_base_dsm.describe()

                  x             y             z
count  2.253001e+06  2.253001e+06  2.253001e+06
mean   1.204440e+05  1.286570e+05  4.252172e+01
std    4.333014e+02  4.333014e+02  9.947313e+00
min    1.196940e+05  1.279070e+05  2.739000e+01
25%    1.200690e+05  1.282820e+05  3.439000e+01
50%    1.204440e+05  1.286570e+05  3.941000e+01
75%    1.208190e+05  1.290320e+05  4.823000e+01
max    1.211940e+05  1.294070e+05  1.422800e+02

In [14]:
df_base_dsm

                x         y          z
0        119694.0  127907.0  31.360001
1        119695.0  127907.0  31.340000
2        119696.0  127907.0  31.360001
3        119697.0  127907.0  31.340000
4        119698.0  127907.0  39.500000
...           ...       ...        ...
2252996  121190.0  129407.0  33.770000
2252997  121191.0  129407.0  33.720001
2252998  121192.0  129407.0  33.680000
2252999  121193.0  129407.0  33.700001
2253000  121194.0  129407.0  33.709999

[2253001 rows x 3 columns]

In [15]:
df_base_dsm.to_csv('hainaut.csv', index=False)

In [16]:
show_pcd(df_base_dsm)

In [17]:
print(x)
print(y)

120444.90333205133
127156.60280317161

In [18]:
df_base_dsm['x'].mean()

120444.0

In [19]:
df_base_dsm['y'].mean()

128656.99999999978

In [20]:
small = df_base_dsm[(df_base_dsm["x"] <= x + 25) & 
                    (df_base_dsm["x"] >= x - 25) & 
                    (df_base_dsm["y"] <= y + 25) & 
                     (df_base_dsm["y"] >= y - 25)]

In [21]:
small

Empty DataFrame
Columns: [x, y, z]
Index: []

In [22]:
hainaut = pd.DataFrame()
hainaut['x'] = base_dsm[0]['x'] + x - 750
hainaut['y'] = base_dsm[0]['y'] + y - 750
hainaut['z'] = base_dsm[0]['z']

In [23]:
hainaut

                     x              y          z
0        119694.903332  126406.602803  31.360001
1        119695.903332  126406.602803  31.340000
2        119696.903332  126406.602803  31.360001
3        119697.903332  126406.602803  31.340000
4        119698.903332  126406.602803  39.500000
...                ...            ...        ...
2252996  121190.903332  127906.602803  33.770000
2252997  121191.903332  127906.602803  33.720001
2252998  121192.903332  127906.602803  33.680000
2252999  121193.903332  127906.602803  33.700001
2253000  121194.903332  127906.602803  33.709999

[2253001 rows x 3 columns]

In [24]:
hainaut.to_csv('hainaut.csv', index=False)

In [25]:
xsmall = hainaut[(hainaut["x"] <= x + 25) & 
                    (hainaut["x"] >= x - 25) & 
                    (hainaut["y"] <= y + 25) & 
                    (hainaut["y"] >= y - 25)]

In [26]:
small = hainaut[(hainaut["x"] <= x + 50) & 
                    (hainaut["x"] >= x - 50) & 
                    (hainaut["y"] <= y + 50) & 
                    (hainaut["y"] >= y - 50)]

In [27]:
medium = hainaut[(hainaut["x"] <= x + 75) & 
                    (hainaut["x"] >= x - 75) & 
                    (hainaut["y"] <= y + 75) & 
                    (hainaut["y"] >= y - 75)]

In [28]:
large = hainaut[(hainaut["x"] <= x + 100) & 
                    (hainaut["x"] >= x - 100) & 
                    (hainaut["y"] <= y + 100) & 
                    (hainaut["y"] >= y - 100)]

In [29]:
xlarge = hainaut[(hainaut["x"] <= x + 150) & 
                    (hainaut["x"] >= x - 150) & 
                    (hainaut["y"] <= y + 150) & 
                    (hainaut["y"] >= y - 150)]

In [30]:
small

                     x              y          z
1051400  120394.903332  127106.602803  51.810001
1051401  120395.903332  127106.602803  57.664898
1051402  120396.903332  127106.602803  61.220001
1051403  120397.903332  127106.602803  62.089794
1051404  120398.903332  127106.602803  62.799999
...                ...            ...        ...
1201596  120490.903332  127206.602803  45.689999
1201597  120491.903332  127206.602803  45.730000
1201598  120492.903332  127206.602803  45.700001
1201599  120493.903332  127206.602803  45.689999
1201600  120494.903332  127206.602803  45.310001

[10201 rows x 3 columns]

In [31]:
show_pcd(xsmall)

In [32]:
show_pcd(small)

In [33]:
show_pcd(medium)

In [34]:
show_pcd(large)

In [35]:
show_pcd(xlarge)

In [36]:
show_poisson(small)

[Open3D DEBUG] Input Points / Samples: 10201 / 10201
[Open3D DEBUG] #   Got kernel density: 0.0663469 (s), 418.102 (MB) / 418.102 (MB) / 599 (MB)
[Open3D DEBUG] #     Got normal field: 0.0457811 (s), 429.242 (MB) / 429.242 (MB) / 599 (MB)
[Open3D DEBUG] Point weight / Estimated Area: 1.936858e-04 / 1.975788e+00
[Open3D DEBUG] #       Finalized tree: 0.106174 (s), 430.016 (MB) / 430.016 (MB) / 599 (MB)
[Open3D DEBUG] #  Set FEM constraints: 0.326634 (s), 430.016 (MB) / 430.016 (MB) / 599 (MB)
[Open3D DEBUG] #Set point constraints: 0.0241768 (s), 430.016 (MB) / 430.016 (MB) / 599 (MB)
[Open3D DEBUG] Leaf Nodes / Active Nodes / Ghost Nodes: 597710 / 188232 / 494865
[Open3D DEBUG] Memory Usage: 430.016 MB
[Open3D DEBUG] # Linear system solved: 0.35194 (s), 430.016 (MB) / 430.016 (MB) / 599 (MB)
[Open3D DEBUG] Got average: 0.013067 (s), 430.016 (MB) / 430.016 (MB) / 599 (MB)
[Open3D DEBUG] Iso-Value: 4.927827e-01 = 5.026876e+03 / 1.020100e+04
[Open3D DEBUG] #          Total Solve:       2.7 (s),     442.8 (MB)

In [37]:
size = small

In [38]:
pcd = o3d.geometry.PointCloud()
pcd.points = o3d.utility.Vector3dVector(size.to_numpy())
pcd.estimate_normals(search_param=o3d.geometry.KDTreeSearchParamHybrid(radius=0.1, max_nn=30))

with o3d.utility.VerbosityContextManager(o3d.utility.VerbosityLevel.Debug) as cm:
    poisson_mesh, densities = o3d.geometry.TriangleMesh.create_from_point_cloud_poisson(
        pcd, depth=10, linear_fit =True)

densities = np.asarray(densities)
density_colors = plt.get_cmap('viridis')(
    (densities - densities.min()) / (densities.max() - densities.min()))
density_colors = density_colors[:, :3]
density_mesh = o3d.geometry.TriangleMesh()
density_mesh.vertices = poisson_mesh.vertices
density_mesh.triangles = poisson_mesh.triangles
density_mesh.triangle_normals = poisson_mesh.triangle_normals
density_mesh.vertex_colors = o3d.utility.Vector3dVector(density_colors)

vertices_to_remove = densities < np.quantile(densities, 0.01)
density_mesh.remove_vertices_by_mask(vertices_to_remove)

[Open3D DEBUG] Input Points / Samples: 10201 / 10201
[Open3D DEBUG] #   Got kernel density: 0.0742679 (s), 442.859 (MB) / 442.859 (MB) / 599 (MB)
[Open3D DEBUG] #     Got normal field: 0.033571 (s), 442.859 (MB) / 442.859 (MB) / 599 (MB)
[Open3D DEBUG] Point weight / Estimated Area: 1.936858e-04 / 1.975789e+00
[Open3D DEBUG] #       Finalized tree: 0.108431 (s), 446.191 (MB) / 446.191 (MB) / 599 (MB)
[Open3D DEBUG] #  Set FEM constraints: 0.28141 (s), 446.191 (MB) / 446.191 (MB) / 599 (MB)
[Open3D DEBUG] #Set point constraints: 0.0286791 (s), 446.191 (MB) / 446.191 (MB) / 599 (MB)
[Open3D DEBUG] Leaf Nodes / Active Nodes / Ghost Nodes: 597710 / 188232 / 494865
[Open3D DEBUG] Memory Usage: 446.191 MB
[Open3D DEBUG] # Linear system solved: 0.381947 (s), 446.191 (MB) / 446.191 (MB) / 599 (MB)
[Open3D DEBUG] Got average: 0.0426109 (s), 446.191 (MB) / 446.191 (MB) / 599 (MB)
[Open3D DEBUG] Iso-Value: 4.927827e-01 = 5.026876e+03 / 1.020100e+04
[Open3D DEBUG] #          Total Solve:       3.0 (s),     447.5 (MB)

In [39]:
o3d.io.write_triangle_mesh("houses.obj", density_mesh)

True