# Create and testing the model

In [1]:
import numpy as np
from sklearn.datasets import make_regression
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("./Datasets/clean_immo.csv", sep=',')
df.head()

,locality,type_of_property,subtype_of_property,price,number_of_rooms,house_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,city_name,lattitude,longitude
0,1050,house,house,340000,6,203,95,2,0,to be done up,Ixelles,4.381571,50.822285
1,1050,house,mixed use building,520000,4,200,69,2,0,to renovate,Ixelles,4.381571,50.822285
2,1050,house,house,599000,4,160,100,2,0,to be done up,Ixelles,4.381571,50.822285
3,1050,house,house,599000,3,160,130,2,0,good,Ixelles,4.381571,50.822285
4,1050,house,house,575000,3,171,46,2,0,just renovated,Ixelles,4.381571,50.822285

In [7]:
print(df.isnull().sum())

locality                 0
type_of_property         0
subtype_of_property      0
price                    0
number_of_rooms          0
house_area               0
surface_of_the_land      0
number_of_facades        0
swimming_pool            0
state_of_the_building    0
city_name                0
lattitude                0
longitude                0
dtype: int64

In [4]:
# x = df.iloc[:, df.columns != 'price'].to_numpy()
# y = df.iloc[:,3:4].to_numpy()

# print(x.shape)
# print(y.shape)

(22127, 12)
(22127, 1)

locality                 0
type_of_property         0
subtype_of_property      0
price                    0
number_of_rooms          0
house_area               0
surface_of_the_land      0
number_of_facades        0
swimming_pool            0
state_of_the_building    0
city_name                0
lattitude                0
longitude                0
dtype: int64