# Cleaning

### Data exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from functions import *

In [3]:
# Open the raw datasets
# Immo datas
immo = pd.read_csv('Datasets/raw_immo_scrap.csv', sep=',', na_values=('None', 'no price'))

# localiy to commune
PC_commune = pd.read_csv('Datasets/liste-des-codes-postaux-belges-fr.csv', sep=';')

# Communes with polygons
commune_data = pd.read_csv('Datasets/communes-belges-2019.csv', sep = ';')
# https://public.opendatasoft.com/explore/dataset/communes-belges-2019/table/

In [4]:
immo.shape

(52077, 20)

In [5]:
immo

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,surface_of_the_plot_of_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
0,1050,house,house,340000.0,for sale,6.0,203.0,1,NaN,0,1,NaN,0,NaN,95.0,NaN,2.0,0,to be done up,1901.0
1,1880,house,villa,525000.0,for sale,6.0,250.0,1,NaN,0,1,40.0,1,430.0,826.0,NaN,4.0,0,as new,1992.0
2,4900,house,exceptional property,550000.0,for sale,11.0,475.0,1,NaN,0,1,NaN,1,1400.0,1543.0,NaN,4.0,0,good,1853.0
3,7912,house,villa,550000.0,for sale,4.0,325.0,1,NaN,0,1,125.0,1,2333.0,3570.0,NaN,4.0,0,good,1918.0
4,6032,house,house,550000.0,for sale,5.0,400.0,1,NaN,0,1,80.0,1,500.0,616.0,NaN,3.0,0,as new,1977.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52072,3120,house,house,455496.0,for sale,3.0,NaN,0,NaN,0,0,NaN,0,NaN,695.0,NaN,NaN,0,NaN,NaN
52073,1800,house,house,451650.0,for sale,3.0,NaN,0,NaN,0,0,NaN,0,NaN,550.0,NaN,3.0,0,NaN,NaN
52074,2018,house,house,488000.0,for sale,3.0,145.0,0,NaN,0,0,NaN,1,48.0,0.0,NaN,3.0,0,NaN,NaN
52075,9140,house,house,455000.0,for sale,3.0,NaN,0,NaN,0,0,NaN,0,NaN,1202.0,NaN,4.0,0,NaN,NaN
52076,9620,house,house,469000.0,for sale,3.0,NaN,0,NaN,0,0,NaN,0,NaN,1500.0,NaN,4.0,0,NaN,NaN

In [6]:
immo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52077 entries, 0 to 52076
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   locality                     52077 non-null  int64
 1   type_of_property             52077 non-null  object
 2   subtype_of_property          52077 non-null  object
 3   price                        52007 non-null  float64
 4   type_of_sale                 52077 non-null  object
 5   number_of_rooms              52075 non-null  float64
 6   house_area                   43445 non-null  float64
 7   fully_equipped_kitchen       52077 non-null  int64
 8   furnished                    0 non-null      float64
 9   open_fire                    52077 non-null  int64
 10  terrace                      52077 non-null  int64
 11  terrace_area                 17518 non-null  float64
 12  garden                       52077 non-null  int64
 13  garden_area                  8453 non-null   float64
 14  surface_of_the_land          29353 non-null  float64
 15  surface_of_the_plot_of_land  0 non-null      float64
 16  number_of_facades            38427 non-null  float64
 17  swimming_pool                52077 non-null  int64
 18  state_of_the_building        38491 non-null  object
 19  construction_year            30708 non-null  float64
dtypes: float64(10), int64(6), object(4)
memory usage: 7.9+ MB

In [7]:
immo.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
locality,52077,NaN,NaN,NaN,5406.22,2958.59,1000,2600,5060,8430,9992
type_of_property,52077,2,house,29353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subtype_of_property,52077,24,house,22100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,52007,NaN,NaN,NaN,305756,167907,1000,195000,267000,370000,950000
type_of_sale,52077,1,for sale,52077,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_rooms,52075,NaN,NaN,NaN,2.81458,2.20298,0,2,3,3,204
house_area,43445,NaN,NaN,NaN,153.721,183.355,1,90,128,185,31700
fully_equipped_kitchen,52077,NaN,NaN,NaN,0.652284,0.47625,0,0,1,1,1
furnished,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_fire,52077,NaN,NaN,NaN,0.0469497,0.211533,0,0,0,0,1
terrace,52077,NaN,NaN,NaN,0.563569,0.495947,0,0,1,1,1
terrace_area,17518,NaN,NaN,NaN,23.6743,30.0829,1,9,16,29,1150
garden,52077,NaN,NaN,NaN,0.289859,0.453701,0,0,0,1,1
garden_area,8453,NaN,NaN,NaN,712.1,4311.45,1,70,184,535,312600
surface_of_the_land,29353,NaN,NaN,NaN,992.812,5026.02,0,142,350,810,400000
surface_of_the_plot_of_land,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_facades,38427,NaN,NaN,NaN,2.76602,0.859295,1,2,3,4,4
swimming_pool,52077,NaN,NaN,NaN,0.0159571,0.125311,0,0,0,0,1
state_of_the_building,38491,6,as new,14826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
construction_year,30708,NaN,NaN,NaN,1984.11,37.3152,1755,1964,1992,2018,2048

In [8]:
immo.dtypes

locality                         int64
type_of_property                object
subtype_of_property             object
price                          float64
type_of_sale                    object
number_of_rooms                float64
house_area                     float64
fully_equipped_kitchen           int64
furnished                      float64
open_fire                        int64
terrace                          int64
terrace_area                   float64
garden                           int64
garden_area                    float64
surface_of_the_land            float64
surface_of_the_plot_of_land    float64
number_of_facades              float64
swimming_pool                    int64
state_of_the_building           object
construction_year              float64
dtype: object

In [9]:
immo.isnull().sum()

locality                           0
type_of_property                   0
subtype_of_property                0
price                             70
type_of_sale                       0
number_of_rooms                    2
house_area                      8632
fully_equipped_kitchen             0
furnished                      52077
open_fire                          0
terrace                            0
terrace_area                   34559
garden                             0
garden_area                    43624
surface_of_the_land            22724
surface_of_the_plot_of_land    52077
number_of_facades              13650
swimming_pool                      0
state_of_the_building          13586
construction_year              21369
dtype: int64

### Cleaning

###### Drop useless columns (not filled/all the same)

In [10]:
immo = immo.drop(["furnished", "surface_of_the_plot_of_land", "type_of_sale"], axis=1)

###### Drop rows with null in essential columns

In [11]:
immo.dropna(axis=0, inplace=True, subset=['house_area'])
immo.dropna(axis=0, inplace=True, subset=['price'])
immo.isna().sum()

locality                      0
type_of_property              0
subtype_of_property           0
price                         0
number_of_rooms               2
house_area                    0
fully_equipped_kitchen        0
open_fire                     0
terrace                       0
terrace_area              26488
garden                        0
garden_area               35339
surface_of_the_land       20649
number_of_facades         11064
swimming_pool                 0
state_of_the_building     10615
construction_year         16527
dtype: int64

###### Replace some non essential unknow values by 0, we will rework them after

In [12]:
immo['terrace_area'] = immo['terrace_area'].fillna(0)
immo['garden_area'] = immo['garden_area'].fillna(0)
immo['surface_of_the_land'] = immo['surface_of_the_land'].fillna(0)

###### Drop Duplicates

In [13]:
immo.shape

(43401, 17)

In [14]:
immo = immo.drop_duplicates()

In [15]:
immo.shape

(42368, 17)

###### Setting the type

In [16]:
immo.dtypes

locality                    int64
type_of_property           object
subtype_of_property        object
price                     float64
number_of_rooms           float64
house_area                float64
fully_equipped_kitchen      int64
open_fire                   int64
terrace                     int64
terrace_area              float64
garden                      int64
garden_area               float64
surface_of_the_land       float64
number_of_facades         float64
swimming_pool               int64
state_of_the_building      object
construction_year         float64
dtype: object

In [17]:
immo['price'] = immo['price'].astype('int64')
immo['number_of_rooms'] = immo['number_of_rooms'].astype('Int64')
immo['house_area'] = immo['house_area'].astype('int64')
immo['terrace_area'] = immo['terrace_area'].astype('Int64')
immo['garden_area'] = immo['garden_area'].astype('Int64')
immo['surface_of_the_land'] = immo['surface_of_the_land'].astype('Int64')
immo['number_of_facades'] = immo['number_of_facades'].astype('Int64')
immo['construction_year'] = immo['construction_year'].astype('Int64')

In [18]:
immo.dtypes

locality                   int64
type_of_property          object
subtype_of_property       object
price                      int64
number_of_rooms            Int64
house_area                 int64
fully_equipped_kitchen     int64
open_fire                  int64
terrace                    int64
terrace_area               Int64
garden                     int64
garden_area                Int64
surface_of_the_land        Int64
number_of_facades          Int64
swimming_pool              int64
state_of_the_building     object
construction_year          Int64
dtype: object

###### Rename locality as we will have another locality

In [19]:
immo.rename(columns={'locality': 'zip'}, inplace=True)

###### Decision : wich variables are essentials ?

Arbitrarily, I decided that the locality, the price, the house area, the surface of the land and the state of the building are essentials.
Others columns will be cleaned on demand only, but these 5 will always be cleaned (but some ouliers will be cut off based on other categories).

###### Locality

In [20]:
PC_commune

,Code postal,Localité,Sous-commune,Commune principale,Province
0,5670,Mazée,Oui,VIROINVAL,Namur
1,1860,MEISE,Non,MEISE,Brabant Flamand
2,9700,Melden,Oui,OUDENAARDE,Flandre-Orientale
3,1370,Mélin,Oui,JODOIGNE,Brabant Wallon
4,4520,Moha,Oui,WANZE,Liège
...,...,...,...,...,...
2820,8400,Zandvoorde,Oui,OOSTENDE,Flandre-Occidentale
2821,3800,Zepperen,Oui,SINT-TRUIDEN,Limbourg
2822,2230,HERSELT,Non,HERSELT,Anvers
2823,6987,Hodister,Oui,RENDEUX,Luxembourg
2824,3746,Hoelbeek,Oui,BILZEN,Limbourg

In [21]:
PC_commune.rename(columns={'Code postal' : 'zip',
                           'Localité' : 'locality',
                        'Commune principale': 'commune',
                        'Province' : 'province'}, inplace=True)

In [22]:
PC_commune = PC_commune.drop(['Sous-commune'], axis=1)

In [23]:
PC_commune.isnull().sum()

zip          0
locality     0
commune     44
province    44
dtype: int64

In [24]:
PC_commune[PC_commune['commune'].isnull()]

       zip                                           locality commune province
115   1733                                        HighCo DATA     NaN      NaN
219   5012                                   Parlement Wallon     NaN      NaN
239   1049                      Union Européenne - Commission     NaN      NaN
240   1048                         Union Européenne - Conseil     NaN      NaN
315   5589                                            Jemelle     NaN      NaN
739   1804                                           Cargovil     NaN      NaN
796   1934         Office Exchange Brussels Airport Remailing     NaN      NaN
838   1008                          Chambre des Représentants     NaN      NaN
890   1031                 Organisations Sociales Chrétiennes     NaN      NaN
909   1011                                   Vlaams parlement     NaN      NaN
912   1043                                                VRT     NaN      NaN
1012  7511                                    Vitrine Magique     NaN      NaN
1146  1005    Assemblée Réunie de la Commission Communautaire     NaN      NaN
1226  7513                                        Yves Rocher     NaN      NaN
1265  9099                                             Gent X     NaN      NaN
1362  1935                                  Corporate Village     NaN      NaN
1451  7512                                        Yves Rocher     NaN      NaN
1460   612                                      Saint-Nicolas     NaN      NaN
1619  4099                                            Liège X     NaN      NaN
1672  6099                                        Charleroi X     NaN      NaN
1735  7010                                              SHAPE     NaN      NaN
1821  9075                                         CSM Gent X     NaN      NaN
1928  1033                                            RTL-TVI     NaN      NaN
2048  1099                                        Bruxelles X     NaN      NaN
2094  1035       Ministère de la Région de Bruxelles Capitale     NaN      NaN
2207  1009                                  Senat de Belgique     NaN      NaN
2235  6075                                    CSM Charleroi X     NaN      NaN
2252  1041                         International Press Center     NaN      NaN
2284  1012               Parlement de la Communauté française     NaN      NaN
2309  1818                                                VTM     NaN      NaN
2354  1046                   European External Action Service     NaN      NaN
2384  1047                                 Parlement Européen     NaN      NaN
2391  5010                                       SA SudPresse     NaN      NaN
2421  2099                                        Antwerpen x     NaN      NaN
2485  1101                                           Scanning     NaN      NaN
2569  1100                                         Postcheque     NaN      NaN
2605  7510                                          3 Suisses     NaN      NaN
2606  1105                                            ACTISOC     NaN      NaN
2609  1007  Assemblée de la Commission Communautaire Franç...     NaN      NaN
2619  1931                                           Brucargo     NaN      NaN
2682  1110                                               OTAN     NaN      NaN
2689  1006          Raad van de Vlaamse Gemeenschapscommissie     NaN      NaN
2791  1044                                               RTBF     NaN      NaN
2798  1212                                       SPF Mobilité     NaN      NaN

In [25]:
PC_commune.dropna(axis=0, inplace=True, subset=['commune'])
PC_commune.reset_index(drop=True, inplace=True)

In [26]:
PC_commune['commune'].value_counts()

TOURNAI        30
NAMUR          25
TONGEREN       19
MONS           19
ATH            19
               ..
WEMMEL          1
ZELZATE         1
NIEL            1
WAASMUNSTER     1
ANDERLECHT      1
Name: commune, Length: 581, dtype: int64

In [27]:
PC_commune[PC_commune['locality'] == "SAINT-NICOLAS"]

      zip       locality        commune province
688  4420  SAINT-NICOLAS  SAINT-NICOLAS    Liège

In [28]:
PC_commune.iloc[688, [0]] = 'Saint-Nicolas'

In [29]:
PC_commune = PC_commune.drop(['locality'], axis=1)

In [30]:
PC_commune = PC_commune.drop_duplicates()

In [31]:
PC_commune

       zip      commune             province
0     5670    VIROINVAL                Namur
1     1860        MEISE      Brabant Flamand
2     9700   OUDENAARDE    Flandre-Orientale
3     1370     JODOIGNE       Brabant Wallon
4     4520        WANZE                Liège
...    ...          ...                  ...
2765  3721    KORTESSEM             Limbourg
2772  3018       LEUVEN      Brabant Flamand
2773  8431  MIDDELKERKE  Flandre-Occidentale
2774  2160    WOMMELGEM               Anvers
2780  3746       BILZEN             Limbourg

[1147 rows x 3 columns]

In [32]:
immo.shape

(42368, 17)

In [33]:
immo = pd.merge(immo, PC_commune, on=['zip'], how='left')

In [34]:
immo

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province
0,1050,house,house,340000,6,203,1,0,1,0,0,0,95,2,0,to be done up,1901,IXELLES,Bruxelles (19 communes)
1,1880,house,villa,525000,6,250,1,0,1,40,1,430,826,4,0,as new,1992,KAPELLE-OP-DEN-BOS,Brabant Flamand
2,4900,house,exceptional property,550000,11,475,1,0,1,0,1,1400,1543,4,0,good,1853,SPA,Liège
3,7912,house,villa,550000,4,325,1,0,1,125,1,2333,3570,4,0,good,1918,FRASNES-LEZ-ANVAING,Hainaut
4,6032,house,house,550000,5,400,1,0,1,80,1,500,616,3,0,as new,1977,CHARLEROI,Hainaut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42363,2310,house,house,468000,3,180,1,0,0,0,0,0,0,4,0,NaN,<NA>,RIJKEVORSEL,Anvers
42364,1800,house,house,454993,3,169,0,0,0,0,0,0,389,3,0,NaN,<NA>,VILVOORDE,Brabant Flamand
42365,3530,house,villa,475000,3,222,0,0,0,0,0,0,1124,4,0,NaN,<NA>,HOUTHALEN-HELCHTEREN,Limbourg
42366,6700,house,mansion,475000,9,240,0,0,0,0,0,0,200,2,0,NaN,<NA>,ARLON,Luxembourg
42367,2018,house,house,488000,3,145,0,0,0,0,1,48,0,3,0,NaN,<NA>,ANTWERPEN,Anvers

In [35]:
immo['region'] = immo['province'].apply(get_region)

In [36]:
immo['commune'].value_counts()

ANTWERPEN       2004
KNOKKE-HEIST    1004
GENT             941
LIÈGE            853
OOSTENDE         757
                ...
FAUVILLERS         4
AMBLÈVE            3
KALMTHOUT          3
AS                 3
HERSTAPPE          1
Name: commune, Length: 580, dtype: int64

###### Rank the communes by mean(price)

In [37]:
Dict_city_rank_price = immo.groupby('commune')['price'].mean().sort_values().rank().to_dict()

In [38]:
Dict_city_rank_price

{'DOUR': 1.0,
 'QUIÉVRAIN': 2.0,
 'MOMIGNIES': 3.0,
 'FROIDCHAPELLE': 4.0,
 'COLFONTAINE': 5.0,
 'LIMBOURG': 6.0,
 'ANTOING': 7.0,
 'AMBLÈVE': 8.0,
 'QUAREGNON': 9.0,
 'FRAMERIES': 10.0,
 'RENDEUX': 11.0,
 'SAINT-NICOLAS': 12.0,
 'VIROINVAL': 13.0,
 'HASTIÈRE': 14.0,
 'ERQUELINNES': 15.0,
 'BOUSSU': 16.0,
 'CERFONTAINE': 17.0,
 'FARCIENNES': 18.0,
 'CHARLEROI': 19.0,
 'HENSIES': 20.0,
 'DISON': 21.0,
 'SIVRY-RANCE': 22.0,
 'ENGIS': 23.0,
 'MERBES-LE-CHÂTEAU': 24.0,
 'CHÂTELET': 25.0,
 'SERAING': 26.0,
 'AMAY': 27.0,
 'BEAUMONT': 28.0,
 'FLORENVILLE': 29.0,
 'SAINT-HUBERT': 30.0,
 'WALCOURT': 31.0,
 'ANDERLUES': 32.0,
 'BINCHE': 33.0,
 'MORLANWELZ': 34.0,
 'FLEURUS': 35.0,
 'SAINT-GHISLAIN': 36.0,
 'LA LOUVIÈRE': 37.0,
 'BEAURAING': 38.0,
 'PHILIPPEVILLE': 39.0,
 'MONS': 40.0,
 'COURCELLES': 41.0,
 'ANTHISNES': 42.0,
 'GRÂCE-HOLLOGNE': 43.0,
 'BOUILLON': 44.0,
 'ROUVROY': 45.0,
 'TROOZ': 46.0,
 'HOUFFALIZE': 47.0,
 'CHIÈVRES': 48.0,
 'MANAGE': 49.0,
 "FONTAINE-L'EVÊQUE": 50.0,
 'HOTTON': 51.0,
 'BIÈVRE': 52.0,
 'COUVIN': 53.0,
 'BULLANGE': 54.0,
 'HEUVELLAND': 55.0,
 'RUMES': 56.0,
 'PÉRUWELZ': 57.0,
 'SAINT-VITH': 58.0,
 'BERTRIX': 59.0,
 'COMBLAIN-AU-PONT': 60.0,
 'BRAINE-LE-COMTE': 61.0,
 'BRUGELETTE': 62.0,
 'GEDINNE': 63.0,
 'ESTINNES': 64.0,
 'SAINTE-ODE': 65.0,
 'ANS': 66.0,
 'SOIGNIES': 67.0,
 'FAUVILLERS': 68.0,
 'PEPINSTER': 69.0,
 'LA ROCHE-EN-ARDENNE': 70.0,
 'MIDDELKERKE': 71.0,
 'VERVIERS': 72.0,
 'LANDEN': 73.0,
 'QUÉVY': 74.0,
 'JEMEPPE-SUR-SAMBRE': 75.0,
 'FLORENNES': 76.0,
 'SOMME-LEUZE': 77.0,
 'CINEY': 78.0,
 'HERBEUMONT': 79.0,
 'VRESSE-SUR-SEMOIS': 80.0,
 'FLÉMALLE': 81.0,
 'SAMBREVILLE': 82.0,
 'LIÈGE': 83.0,
 'HUY': 84.0,
 'MARCHE-EN-FAMENNE': 85.0,
 'ANHÉE': 86.0,
 'TELLIN': 87.0,
 'BURG-REULAND': 88.0,
 'LA CALAMINE': 89.0,
 'WERVIK': 90.0,
 'HAMOIR': 91.0,
 'VIELSALM': 92.0,
 'HERSTAL': 93.0,
 'HOESELT': 94.0,
 'CHIMAY': 95.0,
 'BERNISSART': 96.0,
 'FLÉRON': 97.0,
 'MUSSON': 98.0,
 'ANDENNE': 99.0,
 'ELLEZELLES': 100.0,
 'FEXHE-LE-HAUT-CLOCHER': 101.0,
 'NASSOGNE': 102.0,
 'OREYE': 103.0,
 'ATH': 104.0,
 'AVELGEM': 105.0,
 'THUIN': 106.0,
 'MENEN': 107.0,
 'PONT-À-CELLES': 108.0,
 'EREZÉE': 109.0,
 'VIRTON': 110.0,
 'DONCEEL': 111.0,
 'LESSINES': 112.0,
 'ROCHEFORT': 113.0,
 'BREDENE': 114.0,
 'ZOUTLEEUW': 115.0,
 'FOSSES-LA-VILLE': 116.0,
 'WAREMME': 117.0,
 'DE PANNE': 118.0,
 'BASSENGE': 119.0,
 'CLAVIER': 120.0,
 'LÉGLISE': 121.0,
 'LEOPOLDSBURG': 122.0,
 'NEUFCHÂTEAU': 123.0,
 'ECAUSSINNES': 124.0,
 'LANAKEN': 125.0,
 'HONNELLES': 126.0,
 'WEVELGEM': 127.0,
 'HERSTAPPE': 128.0,
 'HOUYET': 129.0,
 'CHINY': 130.0,
 'PALISEUL': 131.0,
 'OUPEYE': 132.0,
 'ONHAYE': 133.0,
 'HECHTEL-EKSEL': 134.0,
 'KUURNE': 135.0,
 'WANZE': 136.0,
 'RENAIX': 137.0,
 'DINANT': 138.0,
 'METTET': 139.0,
 'KOEKELBERG': 140.0,
 'KORTEMARK': 141.0,
 'CELLES': 142.0,
 'VAUX-SUR-SÛRE': 143.0,
 'DOISCHE': 144.0,
 'MODAVE': 145.0,
 'GINGELOM': 146.0,
 'BURDINNE': 147.0,
 'AYWAILLE': 148.0,
 'PLOMBIÈRES': 149.0,
 'VISÉ': 150.0,
 'SAINT-GEORGES-SUR-MEUSE': 151.0,
 'VLETEREN': 152.0,
 'BLANKENBERGE': 153.0,
 'HAMME': 154.0,
 'GEETBETS': 155.0,
 'OUDSBERGEN': 156.0,
 'HEERS': 157.0,
 'ZWEVEGEM': 158.0,
 'FERRIÈRES': 159.0,
 'ZELZATE': 160.0,
 'HARELBEKE': 161.0,
 'CRISNÉE': 162.0,
 'POPERINGE': 163.0,
 'BEYNE-HEUSAY': 164.0,
 'VILLERS-LE-BOUILLET': 165.0,
 'BASTOGNE': 166.0,
 'MARCHIN': 167.0,
 'OOSTENDE': 168.0,
 'EUPEN': 169.0,
 'WELKENRAEDT': 170.0,
 'LANGEMARK-POELKAPELLE': 171.0,
 'MOUSCRON': 172.0,
 'LIBRAMONT-CHEVIGNY': 173.0,
 'MEULEBEKE': 174.0,
 'REMICOURT': 175.0,
 'HÉLÉCINE': 176.0,
 'GEMBLOUX': 177.0,
 'BILZEN': 178.0,
 'TIENEN': 179.0,
 'GENK': 180.0,
 'AS': 181.0,
 'FLOREFFE': 182.0,
 'TENNEVILLE': 183.0,
 'BERTOGNE': 184.0,
 'KINROOI': 185.0,
 'GESVES': 186.0,
 'TUBIZE': 187.0,
 'PEER': 188.0,
 'DILSEN-STOKKEM': 189.0,
 'WICHELEN': 190.0,
 'MEIX-DEVANT-VIRTON': 191.0,
 'SINT-TRUIDEN': 192.0,
 'BERINGEN': 193.0,
 'DURBUY': 194.0,
 'SCHERPENHEUVEL-ZICHEM': 195.0,
 'ZONNEBEKE': 196.0,
 'MALMEDY': 197.0,
 'HANNUT': 198.0,
 'HALEN': 199.0,
 'NIEUWERKERKEN': 200.0,
 'TONGEREN': 201.0,
 'DEERLIJK': 202.0,
 'HOUTHALEN-HELCHTEREN': 203.0,
 'AISEAU-PRESLES': 204.0,
 'SOUMAGNE': 205.0,
 'KORTESSEM': 206.0,
 'LEDEGEM': 207.0,
 'ZUTENDAAL': 208.0,
 'GANSHOREN': 209.0,
 'GERAARDSBERGEN': 210.0,
 'SENEFFE': 211.0,
 'MERKSPLAS': 212.0,
 'DENDERLEEUW': 213.0,
 'LINCENT': 214.0,
 'SOMBREFFE': 215.0,
 'WETTEREN': 216.0,
 'BORGLOON': 217.0,
 'ORP-JAUCHE': 218.0,
 'DIEPENBEEK': 219.0,
 'EEKLO': 220.0,
 'SINT-LAUREINS': 221.0,
 'IZEGEM': 222.0,
 'OHEY': 223.0,
 'BEKKEVOORT': 224.0,
 'WIELSBEKE': 225.0,
 'GEER': 226.0,
 'AALST': 227.0,
 'OUDENBURG': 228.0,
 'ICHTEGEM': 229.0,
 'BAELEN': 230.0,
 'SILLY': 231.0,
 'BOOM': 232.0,
 'AUBANGE': 233.0,
 'WASSEIGES': 234.0,
 'LE ROEULX': 235.0,
 'HEUSDEN-ZOLDER': 236.0,
 'LEUZE-EN-HAINAUT': 237.0,
 'MOLENBEEK-SAINT-JEAN': 238.0,
 'MOL': 239.0,
 'BALEN': 240.0,
 'LENDELEDE': 241.0,
 'DENDERMONDE': 242.0,
 'MONTIGNY-LE-TILLEUL': 243.0,
 'LIEDEKERKE': 244.0,
 'BRAIVES': 245.0,
 'LOBBES': 246.0,
 'ZOTTEGEM': 247.0,
 'HAVELANGE': 248.0,
 'ROESELARE': 249.0,
 'FLOBECQ': 250.0,
 'BOCHOLT': 251.0,
 'SINT-GILLIS-WAAS': 252.0,
 'CHAUDFONTAINE': 253.0,
 'GEEL': 254.0,
 'HOUTHULST': 255.0,
 'LOMMEL': 256.0,
 'DE HAAN': 257.0,
 'NAMUR': 258.0,
 'JETTE': 259.0,
 'BREE': 260.0,
 'LINTER': 261.0,
 'EVERE': 262.0,
 'STABROEK': 263.0,
 'OLNE': 264.0,
 'IEPER': 265.0,
 'KOEKELARE': 266.0,
 'NINOVE': 267.0,
 'OUDENAARDE': 268.0,
 'MAASMECHELEN': 269.0,
 'SAINT-JOSSE-TEN-NOODE': 270.0,
 'ESSEN': 271.0,
 'HÉRON': 272.0,
 'STAVELOT': 273.0,
 'ESPIERRES-HELCHIN': 274.0,
 'LEDE': 275.0,
 'MACHELEN': 276.0,
 'TURNHOUT': 277.0,
 'PECQ': 278.0,
 'HAALTERT': 279.0,
 'WINGENE': 280.0,
 'TOURNAI': 281.0,
 'ANDERLECHT': 282.0,
 'YVOIR': 283.0,
 'NIVELLES': 284.0,
 'GERPINNES': 285.0,
 'LES BONS VILLERS': 286.0,
 'TIELT': 287.0,
 'MOERBEKE-WAAS': 288.0,
 'ERPE-MERE': 289.0,
 'TORHOUT': 290.0,
 'THEUX': 291.0,
 'HERSELT': 292.0,
 'HERENTALS': 293.0,
 'RIEMST': 294.0,
 'RETIE': 295.0,
 'DESSEL': 296.0,
 'WAREGEM': 297.0,
 'HEMIKSEM': 298.0,
 'SCHELLE': 299.0,
 'KORTENAKEN': 300.0,
 'HAM': 301.0,
 'TINTIGNY': 302.0,
 'WELLIN': 303.0,
 'TESSENDERLO': 304.0,
 'LAAKDAL': 305.0,
 'STEKENE': 306.0,
 'VILVOORDE': 307.0,
 "MONT-DE-L'ENCLUS": 308.0,
 'ARLON': 309.0,
 'TEMSE': 310.0,
 'RAEREN': 311.0,
 'MALDEGEM': 312.0,
 'BORSBEEK': 313.0,
 'MONT-SAINT-GUIBERT': 314.0,
 'HAM-SUR-HEURE': 315.0,
 'BEVEREN-WAAS': 316.0,
 'NIEL': 317.0,
 'AALTER': 318.0,
 'SINT-NIKLAAS': 319.0,
 'ZELE': 320.0,
 'LICHTERVELDE': 321.0,
 'KOKSIJDE': 322.0,
 'LONTZEN': 323.0,
 'ASSENEDE': 324.0,
 'NIJLEN': 325.0,
 'MORTSEL': 326.0,
 'INGELMUNSTER': 327.0,
 'LENS': 328.0,
 'MEERHOUT': 329.0,
 'ANZEGEM': 330.0,
 'STADEN': 331.0,
 'JURBISE': 332.0,
 'SPRIMONT': 333.0,
 'ANTWERPEN': 334.0,
 'AARSCHOT': 335.0,
 'EGHEZÉE': 336.0,
 'LOKEREN': 337.0,
 'REBECQ': 338.0,
 'PROFONDEVILLE': 339.0,
 'FRASNES-LEZ-ANVAING': 340.0,
 'ASSE': 341.0,
 'OUFFET': 342.0,
 'ESTAIMPUIS': 343.0,
 'DIKSMUIDE': 344.0,
 'HAMONT-ACHEL': 345.0,
 'FAIMES': 346.0,
 'BELOEIL': 347.0,
 'DIEST': 348.0,
 'HOOGLEDE': 349.0,
 'HERENTHOUT': 350.0,
 'MARTELANGE': 351.0,
 'KORTRIJK': 352.0,
 'THIMISTER-CLERMONT': 353.0,
 'TIELT-WINGE': 354.0,
 'HABAY': 355.0,
 'SINT-LIEVENS-HOUTEM': 356.0,
 'OLEN': 357.0,
 'KLUISBERGEN': 358.0,
 'ZONHOVEN': 359.0,
 'TROIS-PONTS': 360.0,
 'INCOURT': 361.0,
 'GALMAARDEN': 362.0,
 'HERZELE': 363.0,
 'NIEUWPOORT': 364.0,
 'HAACHT': 365.0,
 'BERCHEM-SAINTE-AGATHE': 366.0,
 'ASSESSE': 367.0,
 'LIBIN': 368.0,
 'AWANS': 369.0,
 'ETALLE': 370.0,
 'WAIMES': 371.0,
 'ALKEN': 372.0,
 'MANHAY': 373.0,
 'BLÉGNY': 374.0,
 'ARDOOIE': 375.0,
 'LONDERZEEL': 376.0,
 'DALHEM': 377.0,
 'BEERSE': 378.0,
 'VERLAINE': 379.0,
 'RAMILLIES': 380.0,
 'COURT-SAINT-ETIENNE': 381.0,
 'WILLEBROEK': 382.0,
 'PERWEZ': 383.0,
 'ROTSELAAR': 384.0,
 'ESNEUX': 385.0,
 'LIERDE': 386.0,
 'TINLOT': 387.0,
 'WELLEN': 388.0,
 'PUURS-SINT-AMANDS': 389.0,
 'LIER': 390.0,
 'EVERGEM': 391.0,
 'GISTEL': 392.0,
 'LEBBEKE': 393.0,
 'PITTEM': 394.0,
 'BRAKEL': 395.0,
 'BEGIJNENDIJK': 396.0,
 'DUFFEL': 397.0,
 'BUTGENBACH': 398.0,
 'HALLE': 399.0,
 'CHAPELLE-LEZ-HERLAIMONT': 400.0,
 'DROGENBOS': 401.0,
 'ALVERINGEM': 402.0,
 'ARENDONK': 403.0,
 'SCHAERBEEK': 404.0,
 'OOSTROZEBEKE': 405.0,
 'HERK-DE-STAD': 406.0,
 'RUMST': 407.0,
 'LIEVEGEM': 408.0,
 'LUMMEN': 409.0,
 'LO-RENINGE': 410.0,
 'HASSELT': 411.0,
 'MERCHTEM': 412.0,
 'HAMOIS': 413.0,
 'ZEDELGEM': 414.0,
 'BERLOZ': 415.0,
 'EDEGEM': 416.0,
 'PUTTE': 417.0,
 'JUPRELLE': 418.0,
 'NANDRIN': 419.0,
 'WACHTEBEKE': 420.0,
 'ZWALM': 421.0,
 'VORSELAAR': 422.0,
 'WESTERLO': 423.0,
 'NAZARETH': 424.0,
 'SAINT-LÉGER': 425.0,
 'MAASEIK': 426.0,
 'MESSANCY': 427.0,
 'WOMMELGEM': 428.0,
 'VILLERS-LA-VILLE': 429.0,
 'VEURNE': 430.0,
 'HERVE': 431.0,
 'PELT': 432.0,
 'WUUSTWEZEL': 433.0,
 'GOUVY': 434.0,
 'MALLE': 435.0,
 'GRIMBERGEN': 436.0,
 'KRUIBEKE': 437.0,
 'BRAINE-LE-CHÂTEAU': 438.0,
 'ROOSDAAL': 439.0,
 'MOORSLEDE': 440.0,
 'BRUNEHAUT': 441.0,
 'WALHAIN': 442.0,
 'BORNEM': 443.0,
 'AFFLIGEM': 444.0,
 'OOSTERZELE': 445.0,
 'TREMELO': 446.0,
 'SINT-KATELIJNE-WAVER': 447.0,
 'SINT-PIETERS-LEEUW': 448.0,
 'LINT': 449.0,
 'HEIST-OP-DEN-BERG': 450.0,
 'LILLE': 451.0,
 'GAVERE': 452.0,
 'DEINZE': 453.0,
 'BERLARE': 454.0,
 'ZWIJNDRECHT': 455.0,
 'BUGGENHOUT': 456.0,
 'NEUPRÉ': 457.0,
 'ZULTE': 458.0,
 'ZANDHOVEN': 459.0,
 'HULSHOUT': 460.0,
 'JABBEKE': 461.0,
 'RUISELEDE': 462.0,
 'GROBBENDONK': 463.0,
 'MERELBEKE': 464.0,
 'LEUVEN': 465.0,
 'KONTICH': 466.0,
 'BRUGGE': 467.0,
 'LA BRUYÈRE': 468.0,
 'CHASTRE': 469.0,
 'FERNELMONT': 470.0,
 'SCHOTEN': 471.0,
 'ENGHIEN': 472.0,
 'FOREST': 473.0,
 'ITTRE': 474.0,
 'STOUMONT': 475.0,
 'LUBBEEK': 476.0,
 'OPWIJK': 477.0,
 'GLABBEEK': 478.0,
 'MECHELEN': 479.0,
 'FOURONS': 480.0,
 'AUBEL': 481.0,
 'OOSTKAMP': 482.0,
 'BEERNEM': 483.0,
 'BOORTMEERBEEK': 484.0,
 'DAVERDISSE': 485.0,
 'BOUTERSEM': 486.0,
 'DILBEEK': 487.0,
 "BRAINE-L'ALLEUD": 488.0,
 'JODOIGNE': 489.0,
 'BEERSEL': 490.0,
 'LIERNEUX': 491.0,
 'TERNAT': 492.0,
 'WAVRE': 493.0,
 'BRUXELLES': 494.0,
 'BOECHOUT': 495.0,
 'GENT': 496.0,
 'KAPELLE-OP-DEN-BOS': 497.0,
 'HERNE': 498.0,
 'LAARNE': 499.0,
 'HOOGSTRATEN': 500.0,
 'GOOIK': 501.0,
 'BERLAAR': 502.0,
 'COMINES-WARNETON': 503.0,
 'MELLE': 504.0,
 'MAARKEDAL': 505.0,
 'GENAPPE': 506.0,
 'DENTERGEM': 507.0,
 'JALHAY': 508.0,
 'AARTSELAAR': 509.0,
 'ZAVENTEM': 510.0,
 'WORTEGEM-PETEGEM': 511.0,
 'HOLSBEEK': 512.0,
 'BRECHT': 513.0,
 'HOEGAARDEN': 514.0,
 'BERTEM': 515.0,
 'VOSSELAAR': 516.0,
 'HOVE': 517.0,
 'HERENT': 518.0,
 'KRUISEM': 519.0,
 'KASTERLEE': 520.0,
 'ZEMST': 521.0,
 'SPA': 522.0,
 'OTTIGNIES-LOUVAIN-LA-NEUVE': 523.0,
 'WEMMEL': 524.0,
 'LOCHRISTI': 525.0,
 'MEISE': 526.0,
 'KAPELLEN': 527.0,
 'RANST': 528.0,
 'BRASSCHAAT': 529.0,
 'KAPRIJKE': 530.0,
 'ZOERSEL': 531.0,
 'OUD-TURNHOUT': 532.0,
 'RIJKEVORSEL': 533.0,
 'ATTERT': 534.0,
 'WIJNEGEM': 535.0,
 'HOREBEKE': 536.0,
 'LA HULPE': 537.0,
 'KALMTHOUT': 538.0,
 'WOLUWE-SAINT-LAMBERT': 539.0,
 'ETTERBEEK': 540.0,
 'KEERBERGEN': 541.0,
 'DAMME': 542.0,
 'STEENOKKERZEEL': 543.0,
 'BEAUVECHAIN': 544.0,
 'AUDERGHEM': 545.0,
 'KORTENBERG': 546.0,
 'RAVELS': 547.0,
 'GREZ-DOICEAU': 548.0,
 'UCCLE': 549.0,
 'DESTELBERGEN': 550.0,
 'SAINT-GILLES': 551.0,
 'HOEILAART': 552.0,
 'WEZEMBEEK-OPPEM': 553.0,
 'LENNIK': 554.0,
 'LINKEBEEK': 555.0,
 'KAMPENHOUT': 556.0,
 'OUD-HEVERLEE': 557.0,
 'WATERLOO': 558.0,
 'BONHEIDEN': 559.0,
 'DE PINTE': 560.0,
 'ZUIENKERKE': 561.0,
 'BIERBEEK': 562.0,
 'CHAUMONT-GISTOUX': 563.0,
 'IXELLES': 564.0,
 'HULDENBERG': 565.0,
 'BIÉVÈNE': 566.0,
 'WAASMUNSTER': 567.0,
 'RIXENSART': 568.0,
 'SCHILDE': 569.0,
 'KNOKKE-HEIST': 570.0,
 'OVERIJSE': 571.0,
 'TERVUREN': 572.0,
 'RHODE-SAINT-GENÈSE': 573.0,
 'WOLUWE-SAINT-PIERRE': 574.0,
 'WATERMAEL-BOITSFORT': 575.0,
 'PEPINGEN': 576.0,
 'KRAAINEM': 577.0,
 'BAARLE-HERTOG': 578.0,
 'SINT-MARTENS-LATEM': 579.0,
 'LASNE': 580.0}

In [39]:
# Messines is missing, nearest is Heuvelland (51)
Dict_city_rank_price['MESSINES'] = 51.0

In [40]:
immo['rank'] = [Dict_city_rank_price[i] for i in immo['commune']]
immo

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
0,1050,house,house,340000,6,203,1,0,1,0,...,0,95,2,0,to be done up,1901,IXELLES,Bruxelles (19 communes),Région Bruxelles-capitale,564.0
1,1880,house,villa,525000,6,250,1,0,1,40,...,430,826,4,0,as new,1992,KAPELLE-OP-DEN-BOS,Brabant Flamand,Région flamande,497.0
2,4900,house,exceptional property,550000,11,475,1,0,1,0,...,1400,1543,4,0,good,1853,SPA,Liège,Région wallonne,522.0
3,7912,house,villa,550000,4,325,1,0,1,125,...,2333,3570,4,0,good,1918,FRASNES-LEZ-ANVAING,Hainaut,Région wallonne,340.0
4,6032,house,house,550000,5,400,1,0,1,80,...,500,616,3,0,as new,1977,CHARLEROI,Hainaut,Région wallonne,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42363,2310,house,house,468000,3,180,1,0,0,0,...,0,0,4,0,NaN,<NA>,RIJKEVORSEL,Anvers,Région flamande,533.0
42364,1800,house,house,454993,3,169,0,0,0,0,...,0,389,3,0,NaN,<NA>,VILVOORDE,Brabant Flamand,Région flamande,307.0
42365,3530,house,villa,475000,3,222,0,0,0,0,...,0,1124,4,0,NaN,<NA>,HOUTHALEN-HELCHTEREN,Limbourg,Région flamande,203.0
42366,6700,house,mansion,475000,9,240,0,0,0,0,...,0,200,2,0,NaN,<NA>,ARLON,Luxembourg,Région wallonne,309.0
42367,2018,house,house,488000,3,145,0,0,0,0,...,48,0,3,0,NaN,<NA>,ANTWERPEN,Anvers,Région flamande,334.0

In [41]:
PC_commune

       zip      commune             province
0     5670    VIROINVAL                Namur
1     1860        MEISE      Brabant Flamand
2     9700   OUDENAARDE    Flandre-Orientale
3     1370     JODOIGNE       Brabant Wallon
4     4520        WANZE                Liège
...    ...          ...                  ...
2765  3721    KORTESSEM             Limbourg
2772  3018       LEUVEN      Brabant Flamand
2773  8431  MIDDELKERKE  Flandre-Occidentale
2774  2160    WOMMELGEM               Anvers
2780  3746       BILZEN             Limbourg

[1147 rows x 3 columns]

In [42]:
PC_commune['rank'] = [Dict_city_rank_price[i] for i in PC_commune['commune']]
immo

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
0,1050,house,house,340000,6,203,1,0,1,0,...,0,95,2,0,to be done up,1901,IXELLES,Bruxelles (19 communes),Région Bruxelles-capitale,564.0
1,1880,house,villa,525000,6,250,1,0,1,40,...,430,826,4,0,as new,1992,KAPELLE-OP-DEN-BOS,Brabant Flamand,Région flamande,497.0
2,4900,house,exceptional property,550000,11,475,1,0,1,0,...,1400,1543,4,0,good,1853,SPA,Liège,Région wallonne,522.0
3,7912,house,villa,550000,4,325,1,0,1,125,...,2333,3570,4,0,good,1918,FRASNES-LEZ-ANVAING,Hainaut,Région wallonne,340.0
4,6032,house,house,550000,5,400,1,0,1,80,...,500,616,3,0,as new,1977,CHARLEROI,Hainaut,Région wallonne,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42363,2310,house,house,468000,3,180,1,0,0,0,...,0,0,4,0,NaN,<NA>,RIJKEVORSEL,Anvers,Région flamande,533.0
42364,1800,house,house,454993,3,169,0,0,0,0,...,0,389,3,0,NaN,<NA>,VILVOORDE,Brabant Flamand,Région flamande,307.0
42365,3530,house,villa,475000,3,222,0,0,0,0,...,0,1124,4,0,NaN,<NA>,HOUTHALEN-HELCHTEREN,Limbourg,Région flamande,203.0
42366,6700,house,mansion,475000,9,240,0,0,0,0,...,0,200,2,0,NaN,<NA>,ARLON,Luxembourg,Région wallonne,309.0
42367,2018,house,house,488000,3,145,0,0,0,0,...,48,0,3,0,NaN,<NA>,ANTWERPEN,Anvers,Région flamande,334.0

###### Subtype of property

In [43]:
# Subtype of property is related to the property's type.

print_unique_dtype(immo, 'subtype_of_property')
immo.subtype_of_property.value_counts()

23 - object

house                   16655
apartment               15336
villa                    2377
duplex                   1278
ground floor             1099
penthouse                 830
apartment block           795
mixed use building        741
flat studio               724
mansion                   394
exceptional property      382
town house                356
service flat              255
country cottage           237
bungalow                  226
loft                      199
chalet                    112
farmhouse                  98
triplex                    72
manor house                68
kot                        68
other property             58
castle                      7
pavilion                    1
Name: subtype_of_property, dtype: int64

In [44]:
# Drop castle & pavilion.
immo = immo[(immo['subtype_of_property'] != 'castle') & 
        (immo['subtype_of_property'] != 'pavilion') & 
        (immo['subtype_of_property'] != 'apartment block')]

print_unique_dtype(immo, 'subtype_of_property')
immo.shape

20 - object

(41565, 21)

###### Price

In [45]:
print_unique_dtype(immo, 'price')

173 - int64

In [46]:
immo.price.describe()

count     41565.000000
mean     311381.244701
std      168255.713901
min        2500.000000
25%      199000.000000
50%      270000.000000
75%      375000.000000
max      950000.000000
Name: price, dtype: float64

In [47]:
immo[immo['price'] == 2500]

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
3690,1400,apartment,apartment,2500,3,90,1,0,1,4,...,0,0,4,0,as new,1978,NIVELLES,Brabant Wallon,Région flamande,284.0
23552,2530,house,exceptional property,2500,5,600,1,1,1,60,...,1750,1750,4,0,as new,1842,BOECHOUT,Anvers,Région flamande,495.0
23596,6960,house,other property,2500,3,154,1,1,1,18,...,3000,3000,4,0,as new,2006,MANHAY,Luxembourg,Région wallonne,373.0

In [48]:
# Remove too much lower price, taking in consideration the house area
immo = immo[(immo['price'] > 10000)]
immo = immo[(immo['price'] > 35000) | (immo['house_area'] < 80)]

In [49]:
immo.price.describe()

count     41496.000000
mean     311860.756266
std      167983.411637
min       11825.000000
25%      199000.000000
50%      270000.000000
75%      375000.000000
max      950000.000000
Name: price, dtype: float64

In [50]:
immo[immo['price'] < 30000]

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
3691,6740,apartment,kot,14500,1,28,1,0,0,0,...,0,0,4,0,good,2015,ETALLE,Luxembourg,Région wallonne,370.0
3693,8400,apartment,apartment,25000,2,72,1,0,1,5,...,0,0,2,0,good,1994,OOSTENDE,Flandre-Occidentale,Région flamande,168.0
3697,8301,apartment,flat studio,20000,0,42,0,0,0,0,...,0,0,2,1,to renovate,1971,KNOKKE-HEIST,Flandre-Occidentale,Région flamande,570.0
3698,4000,apartment,ground floor,28000,2,25,0,0,0,0,...,0,0,1,0,NaN,<NA>,LIÈGE,Liège,Région wallonne,83.0
23530,6041,house,house,29900,2,70,1,0,0,0,...,0,41,2,0,to renovate,1874,CHARLEROI,Hainaut,Région wallonne,19.0
23569,5575,house,chalet,28500,1,36,1,0,0,0,...,0,264,4,0,NaN,<NA>,GEDINNE,Namur,Région wallonne,63.0
23577,5540,house,chalet,25000,1,60,1,0,0,0,...,0,215,4,0,to renovate,<NA>,HASTIÈRE,Namur,Région wallonne,14.0
23592,6464,house,house,20000,2,45,1,0,1,15,...,120,200,4,0,NaN,<NA>,CHIMAY,Hainaut,Région wallonne,95.0
23601,3111,house,house,11825,1,13,0,0,0,0,...,0,13,2,0,as new,2017,ROTSELAAR,Brabant Flamand,Région flamande,384.0

###### Number of rooms

In [51]:
immo.number_of_rooms.describe()

count    41495.000000
mean         2.776744
std          2.308339
min          0.000000
25%          2.000000
50%          3.000000
75%          3.000000
max        204.000000
Name: number_of_rooms, dtype: float64

In [52]:
immo.number_of_rooms.value_counts()

2      13969
3      13416
4       5769
1       4289
5       2037
6        791
0        749
7        229
8        104
9         44
10        42
11        20
12        12
13         4
15         4
204        3
14         3
16         3
30         2
20         1
24         1
165        1
18         1
23         1
Name: number_of_rooms, dtype: Int64

In [53]:
# Remove number_of_rooms >= 165
immo = immo[immo['number_of_rooms'] < 165]
immo.number_of_rooms.value_counts()

2     13969
3     13416
4      5769
1      4289
5      2037
6       791
0       749
7       229
8       104
9        44
10       42
11       20
12       12
13        4
15        4
14        3
16        3
30        2
20        1
24        1
18        1
23        1
Name: number_of_rooms, dtype: Int64

###### House Area

In [54]:
immo.house_area.value_counts()

90      902
120     898
100     886
150     816
140     757
       ...
788       1
980       1
501       1
1350      1
1407      1
Name: house_area, Length: 676, dtype: int64

In [55]:
immo.house_area.describe()

count    41491.000000
mean       152.097612
std        183.985704
min          1.000000
25%         90.000000
50%        127.000000
75%        183.000000
max      31700.000000
Name: house_area, dtype: float64

In [56]:
immo[immo['house_area'] < 15]

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
4103,2800,apartment,kot,99000,1,14,0,0,0,0,...,0,0,2,0,NaN,2014,MECHELEN,Anvers,Région flamande,479.0
4569,8840,apartment,apartment,135000,0,5,0,0,0,0,...,0,0,<NA>,0,good,<NA>,STADEN,Flandre-Occidentale,Région flamande,331.0
5564,2000,apartment,kot,115000,1,14,1,0,1,0,...,0,0,<NA>,0,good,<NA>,ANTWERPEN,Anvers,Région flamande,334.0
5823,8870,apartment,apartment,125000,4,5,0,0,0,0,...,0,0,<NA>,0,as new,<NA>,IZEGEM,Flandre-Occidentale,Région flamande,222.0
7423,4540,apartment,apartment,185000,2,11,0,0,1,5,...,0,0,3,0,as new,<NA>,AMAY,Liège,Région wallonne,27.0
16739,9340,apartment,penthouse,297500,3,13,0,0,1,0,...,0,0,<NA>,0,NaN,2018,LEDE,Flandre-Orientale,Région flamande,275.0
17351,3290,apartment,apartment,265000,2,1,0,0,0,0,...,0,0,<NA>,0,NaN,<NA>,DIEST,Brabant Flamand,Région flamande,348.0
21171,8400,apartment,apartment,425000,2,1,0,0,1,0,...,0,0,2,0,good,1961,OOSTENDE,Flandre-Occidentale,Région flamande,168.0
23601,3111,house,house,11825,1,13,0,0,0,0,...,0,13,2,0,as new,2017,ROTSELAAR,Brabant Flamand,Région flamande,384.0
32332,8954,house,house,265500,3,5,1,0,0,0,...,0,373,<NA>,0,as new,2019,HEUVELLAND,Flandre-Occidentale,Région flamande,55.0
36816,4845,house,villa,323000,4,1,0,0,1,0,...,0,913,<NA>,0,as new,2013,JALHAY,Liège,Région wallonne,508.0
37026,4845,house,villa,307000,3,1,0,0,0,0,...,500,0,4,0,as new,2019,JALHAY,Liège,Région wallonne,508.0
37368,8791,house,house,335000,4,5,1,0,0,0,...,0,484,<NA>,0,good,1956,WAREGEM,Flandre-Occidentale,Région flamande,297.0

In [57]:
immo[immo['house_area'] > 1500]

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
1697,9600,house,house,650000,1,1640,0,0,0,0,...,0,1640,3,0,good,1991,RENAIX,Flandre-Orientale,Région flamande,137.0
2608,2880,house,manor house,750000,3,3560,1,1,1,24,...,3560,3560,4,0,good,1979,BORNEM,Anvers,Région flamande,443.0
13253,3000,apartment,kot,250000,1,31700,1,0,1,0,...,0,0,<NA>,0,as new,<NA>,LEUVEN,Brabant Flamand,Région flamande,465.0
28490,7050,house,mixed use building,175000,2,1700,0,0,0,0,...,0,1700,4,0,to renovate,<NA>,JURBISE,Hainaut,Région wallonne,332.0
29562,8400,house,house,219000,4,2019,0,0,0,0,...,0,165,2,0,NaN,<NA>,OOSTENDE,Flandre-Occidentale,Région flamande,168.0
38462,6698,house,country cottage,399000,0,2562,0,0,0,0,...,0,100144,4,0,NaN,<NA>,VIELSALM,Luxembourg,Région wallonne,92.0
39823,7140,house,mixed use building,360000,0,1900,0,0,1,0,...,0,0,3,0,NaN,<NA>,MORLANWELZ,Hainaut,Région wallonne,34.0
39864,6200,house,mixed use building,399000,0,1525,0,0,0,0,...,0,790,2,0,good,<NA>,CHÂTELET,Hainaut,Région wallonne,25.0

In [58]:
# Drop too small and too big house_area, taking the price in consideration
immo = immo[(immo['house_area'] > 10) & 
            ((immo['house_area'] < 1000) | ((immo['house_area'] > 1000) & (immo['price'] > 390000)))]

In [59]:
immo.shape

(41469, 21)

###### Surface of the Land

In [60]:
immo.surface_of_the_land.describe()

count     41469.000000
mean        536.232318
std        3597.281129
min           0.000000
25%           0.000000
50%           0.000000
75%         400.000000
max      400000.000000
Name: surface_of_the_land, dtype: float64

In [61]:
immo[immo['surface_of_the_land'] == 0]

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
50,1200,house,house,550000,4,180,0,0,1,4,...,44,0,2,0,good,1952,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
53,6120,house,house,129250,3,289,1,0,1,0,...,0,0,3,0,as new,2013,HAM-SUR-HEURE,Hainaut,Région wallonne,315.0
63,4624,house,house,65000,2,106,0,0,0,0,...,0,0,4,0,to renovate,<NA>,FLÉRON,Liège,Région wallonne,97.0
104,1200,house,house,550000,3,176,0,0,1,13,...,81,0,2,0,to renovate,1964,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
195,9050,house,mansion,190000,5,213,0,0,1,0,...,0,0,2,0,to renovate,1930,GENT,Flandre-Orientale,Région flamande,496.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42355,2650,house,house,470000,3,155,1,0,0,0,...,0,0,2,0,good,<NA>,EDEGEM,Anvers,Région flamande,416.0
42358,4837,house,mixed use building,495000,0,1007,0,0,0,0,...,0,0,4,0,NaN,<NA>,BAELEN,Liège,Région wallonne,230.0
42362,2000,house,house,459000,5,139,1,0,0,0,...,0,0,2,0,good,<NA>,ANTWERPEN,Anvers,Région flamande,334.0
42363,2310,house,house,468000,3,180,1,0,0,0,...,0,0,4,0,NaN,<NA>,RIJKEVORSEL,Anvers,Région flamande,533.0
42367,2018,house,house,488000,3,145,0,0,0,0,...,48,0,3,0,NaN,<NA>,ANTWERPEN,Anvers,Région flamande,334.0

In [62]:
immo[(immo['surface_of_the_land']<2) & (immo['garden_area']>2)]

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
50,1200,house,house,550000,4,180,0,0,1,4,...,44,0,2,0,good,1952,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
104,1200,house,house,550000,3,176,0,0,1,13,...,81,0,2,0,to renovate,1964,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
327,1200,house,house,545000,5,280,1,0,0,0,...,20,0,2,0,NaN,1960,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
337,3210,house,house,525000,3,216,1,0,0,0,...,700,0,3,0,good,2019,LUBBEEK,Brabant Flamand,Région flamande,476.0
547,3790,house,villa,550000,7,270,1,0,0,0,...,950,0,4,0,good,1920,FOURONS,Limbourg,Région flamande,480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41853,1160,house,house,499000,4,140,1,0,0,0,...,45,0,2,0,good,1976,AUDERGHEM,Bruxelles (19 communes),Région Bruxelles-capitale,545.0
41951,1200,house,town house,485000,3,150,1,0,0,0,...,35,0,2,0,to be done up,1961,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
42317,2970,house,house,475800,5,196,1,0,1,15,...,67,0,2,0,as new,2020,SCHILDE,Anvers,Région flamande,569.0
42335,1030,house,house,477000,6,317,1,0,0,0,...,35,0,2,0,NaN,<NA>,SCHAERBEEK,Bruxelles (19 communes),Région Bruxelles-capitale,404.0
42367,2018,house,house,488000,3,145,0,0,0,0,...,48,0,3,0,NaN,<NA>,ANTWERPEN,Anvers,Région flamande,334.0

In [63]:
immototal = pd.DataFrame()
immototal = immo[(immo['surface_of_the_land']<2) & (immo['garden_area']>2)]
immototal['surface_of_the_land'] = immototal['house_area'] + immototal['terrace_area'] + immototal['garden_area']
immototal

<ipython-input-63-e3256665fe8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  immototal['surface_of_the_land'] = immototal['house_area'] + immototal['terrace_area'] + immototal['garden_area']

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
50,1200,house,house,550000,4,180,0,0,1,4,...,44,228,2,0,good,1952,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
104,1200,house,house,550000,3,176,0,0,1,13,...,81,270,2,0,to renovate,1964,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
327,1200,house,house,545000,5,280,1,0,0,0,...,20,300,2,0,NaN,1960,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
337,3210,house,house,525000,3,216,1,0,0,0,...,700,916,3,0,good,2019,LUBBEEK,Brabant Flamand,Région flamande,476.0
547,3790,house,villa,550000,7,270,1,0,0,0,...,950,1220,4,0,good,1920,FOURONS,Limbourg,Région flamande,480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41853,1160,house,house,499000,4,140,1,0,0,0,...,45,185,2,0,good,1976,AUDERGHEM,Bruxelles (19 communes),Région Bruxelles-capitale,545.0
41951,1200,house,town house,485000,3,150,1,0,0,0,...,35,185,2,0,to be done up,1961,WOLUWE-SAINT-LAMBERT,Bruxelles (19 communes),Région Bruxelles-capitale,539.0
42317,2970,house,house,475800,5,196,1,0,1,15,...,67,278,2,0,as new,2020,SCHILDE,Anvers,Région flamande,569.0
42335,1030,house,house,477000,6,317,1,0,0,0,...,35,352,2,0,NaN,<NA>,SCHAERBEEK,Bruxelles (19 communes),Région Bruxelles-capitale,404.0
42367,2018,house,house,488000,3,145,0,0,0,0,...,48,193,3,0,NaN,<NA>,ANTWERPEN,Anvers,Région flamande,334.0

In [64]:
# Taking care of "no surface of the land" in case there is no indication to put it as no garden
immonogard = immo[(immo['surface_of_the_land']==0) & (immo['garden_area']==0)]
immonogard['surface_of_the_land'] = immonogard['house_area']
immonogard

<ipython-input-64-242a4780f50d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  immonogard['surface_of_the_land'] = immonogard['house_area']

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,...,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,commune,province,region,rank
53,6120,house,house,129250,3,289,1,0,1,0,...,0,289,3,0,as new,2013,HAM-SUR-HEURE,Hainaut,Région wallonne,315.0
63,4624,house,house,65000,2,106,0,0,0,0,...,0,106,4,0,to renovate,<NA>,FLÉRON,Liège,Région wallonne,97.0
195,9050,house,mansion,190000,5,213,0,0,1,0,...,0,213,2,0,to renovate,1930,GENT,Flandre-Orientale,Région flamande,496.0
221,2830,house,house,520000,3,222,1,0,1,5,...,0,222,2,0,good,1969,WILLEBROEK,Anvers,Région flamande,382.0
222,2830,house,mixed use building,520000,3,222,1,0,1,5,...,0,222,2,0,good,1969,WILLEBROEK,Anvers,Région flamande,382.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42352,1600,house,house,469000,2,152,1,0,1,100,...,0,152,<NA>,0,as new,<NA>,SINT-PIETERS-LEEUW,Brabant Flamand,Région flamande,448.0
42355,2650,house,house,470000,3,155,1,0,0,0,...,0,155,2,0,good,<NA>,EDEGEM,Anvers,Région flamande,416.0
42358,4837,house,mixed use building,495000,0,1007,0,0,0,0,...,0,1007,4,0,NaN,<NA>,BAELEN,Liège,Région wallonne,230.0
42362,2000,house,house,459000,5,139,1,0,0,0,...,0,139,2,0,good,<NA>,ANTWERPEN,Anvers,Région flamande,334.0
42363,2310,house,house,468000,3,180,1,0,0,0,...,0,180,4,0,NaN,<NA>,RIJKEVORSEL,Anvers,Région flamande,533.0

In [65]:
# Taking off all rows with the surface of the land missing
immoOk = immo[immo['surface_of_the_land']>5]
immoOk.shape

(19773, 21)

In [66]:
immo = pd.concat([immoOk, immototal, immonogard], axis=0)
immo.shape

(41427, 21)

###### State of the building

In [67]:
# State of the building data has 'None'
immo.state_of_the_building.value_counts()

as new            12366
good              11299
to be done up      2871
to renovate        2498
just renovated     2223
to restore          146
Name: state_of_the_building, dtype: int64

In [68]:
immo['state_of_the_building'] = immo['state_of_the_building'].fillna('unknown')
immo.state_of_the_building.value_counts()

as new            12366
good              11299
unknown           10024
to be done up      2871
to renovate        2498
just renovated     2223
to restore          146
Name: state_of_the_building, dtype: int64

In [69]:
immo.state_of_the_building.describe()

count      41427
unique         7
top       as new
freq       12366
Name: state_of_the_building, dtype: object

###### Kitchen

###### Open Fire

###### Terrace

###### Terrace Area

In [70]:
immo.subtype_of_property.value_counts()

house                   16572
apartment               15310
villa                    2373
duplex                   1278
ground floor             1095
penthouse                 827
mixed use building        734
flat studio               723
mansion                   394
exceptional property      380
town house                353
service flat              255
country cottage           237
bungalow                  226
loft                      198
chalet                    112
farmhouse                  97
triplex                    72
manor house                68
kot                        66
other property             57
Name: subtype_of_property, dtype: int64

In [71]:
immo[immo['type_of_property'] == 'house'].subtype_of_property.value_counts()

house                   16572
villa                    2373
mixed use building        734
mansion                   394
exceptional property      380
town house                353
country cottage           237
bungalow                  226
chalet                    112
farmhouse                  97
manor house                68
other property             57
Name: subtype_of_property, dtype: int64

In [72]:
immo[immo['type_of_property'] != 'house'].subtype_of_property.value_counts()

apartment       15310
duplex           1278
ground floor     1095
penthouse         827
flat studio       723
service flat      255
loft              198
triplex            72
kot                66
Name: subtype_of_property, dtype: int64

In [73]:
immo[immo['surface_of_the_land'] == 0]

Empty DataFrame
Columns: [zip, type_of_property, subtype_of_property, price, number_of_rooms, house_area, fully_equipped_kitchen, open_fire, terrace, terrace_area, garden, garden_area, surface_of_the_land, number_of_facades, swimming_pool, state_of_the_building, construction_year, commune, province, region, rank]
Index: []

[0 rows x 21 columns]

###### Garden

###### Garden Area

###### Number of facades

In [74]:
immo.number_of_facades.value_counts()

2    14825
4     8166
3     7410
1      449
Name: number_of_facades, dtype: Int64

In [75]:
immo.isna().sum()

zip                           0
type_of_property              0
subtype_of_property           0
price                         0
number_of_rooms               0
house_area                    0
fully_equipped_kitchen        0
open_fire                     0
terrace                       0
terrace_area                  0
garden                        0
garden_area                   0
surface_of_the_land           0
number_of_facades         10577
swimming_pool                 0
state_of_the_building         0
construction_year         15624
commune                       0
province                      0
region                        0
rank                          0
dtype: int64

In [76]:
# filling with median value
immo['number_of_facades'] = immo['number_of_facades'].fillna(3)
immo.number_of_facades.value_counts()

3    17987
2    14825
4     8166
1      449
Name: number_of_facades, dtype: Int64

###### Swimming pool

In [77]:
immo.swimming_pool.value_counts()

0    40717
1      710
Name: swimming_pool, dtype: int64

###### Construction year

In [78]:
immo.shape

(41427, 21)

In [79]:
immo.reset_index(drop=True, inplace=True)
immo.shape

(41427, 21)

In [80]:
immo = immo.drop(["fully_equipped_kitchen", "open_fire", "terrace", "terrace_area", 
                  "garden", "garden_area", "construction_year"], axis=1)
immo

,zip,type_of_property,subtype_of_property,price,number_of_rooms,house_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,commune,province,region,rank
0,1050,house,house,340000,6,203,95,2,0,to be done up,IXELLES,Bruxelles (19 communes),Région Bruxelles-capitale,564.0
1,1880,house,villa,525000,6,250,826,4,0,as new,KAPELLE-OP-DEN-BOS,Brabant Flamand,Région flamande,497.0
2,4900,house,exceptional property,550000,11,475,1543,4,0,good,SPA,Liège,Région wallonne,522.0
3,7912,house,villa,550000,4,325,3570,4,0,good,FRASNES-LEZ-ANVAING,Hainaut,Région wallonne,340.0
4,6032,house,house,550000,5,400,616,3,0,as new,CHARLEROI,Hainaut,Région wallonne,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41422,1600,house,house,469000,2,152,152,3,0,as new,SINT-PIETERS-LEEUW,Brabant Flamand,Région flamande,448.0
41423,2650,house,house,470000,3,155,155,2,0,good,EDEGEM,Anvers,Région flamande,416.0
41424,4837,house,mixed use building,495000,0,1007,1007,4,0,unknown,BAELEN,Liège,Région wallonne,230.0
41425,2000,house,house,459000,5,139,139,2,0,good,ANTWERPEN,Anvers,Région flamande,334.0
41426,2310,house,house,468000,3,180,180,4,0,unknown,RIJKEVORSEL,Anvers,Région flamande,533.0

In [81]:
PC_commune.to_csv('Datasets/communes_info.csv', index=False)
immo.to_csv('Datasets/clean_immo.csv', index=False)