# 3D

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

import geopy as gp

from shapely.geometry import Point, Polygon

import rasterio as rio
from rasterio.plot import show
from rasterio.windows import Window

import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep

import open3d as o3d

In [2]:
from functions import *
from raster2xyz import raster2xyz

## Enter an address, get a location

In [3]:
# Google API

country_code = -1

while country_code != 'BE':
    address = input("Please, enter an address in Begium:\n")

    locator = gp.geocoders.GoogleV3(api_key='AIzaSyDacLsXq8ZFwGBmIxf5jzC94C42get2lJs')
    location = locator.geocode(address, timeout=10)

    postcode = int(location.raw['address_components'][-1]['long_name'])
    country_code = location.raw['address_components'][-2]['short_name']
    coord = (location.latitude, location.longitude)

print("Latitude = {}, Longitude = {}, Postcode = {}".format(coord[1], coord[0], postcode))

Please, enter an address in Begium:
collégiale sainte waudru
Latitude = 3.9477585, Longitude = 50.45345440000001, Postcode = 7000

## From coordinates to correct crs

In [4]:
p = gpd.GeoSeries([Point(coord[1], coord[0])])
p.crs = 'epsg:4326'
p = p.to_crs(epsg=31370)
print(p[0])

x = p[0].x
y = p[0].y

POINT (120103.7281311091 127041.1390425703)

In [5]:
path_dsm = set_path_dsm('HAINAUT')

## Transform the dsm into dataframe

In [6]:
shape = [{'type': 'Polygon', 
          'coordinates': [[(x+1000, y+1000), 
                           (x-1000, y+1000), 
                           (x-1000, y-1000), 
                           (x+1000, y-1000)]]}]

In [7]:
base_dsm = raster2xyz.translate_from_cropped(get_mask(path_dsm, shape))

In [8]:
base_dsm[0].describe()

                  x             y             z
count  4.504001e+06  4.504001e+06  4.504001e+06
mean   1.370430e+03  9.629403e+02  3.810560e+01
std    6.577301e+02  5.764489e+02  8.733763e+00
min    0.000000e+00  0.000000e+00  2.617000e+01
25%    8.120000e+02  4.600000e+02  3.222000e+01
50%    1.375000e+03  9.450000e+02  3.443000e+01
75%    1.938000e+03  1.456000e+03  4.103786e+01
max    2.500000e+03  2.000000e+03  1.422800e+02

In [9]:
base_dsm[0]

            x     y          z
0           0     0  30.100000
1           1     0  30.209999
2           2     0  30.320000
3           3     0  30.400000
4           4     0  30.480000
...       ...   ...        ...
4503996  2496  2000  34.570000
4503997  2497  2000  34.490002
4503998  2498  2000  34.560001
4503999  2499  2000  34.590000
4504000  2500  2000  34.540001

[4504001 rows x 3 columns]

In [10]:
base_dsm[1]

(119103.0, 128541.99999999927)

In [11]:
print(x - 1000, y - 1000)

119103.7281311091 126041.13904257026

In [12]:
df_base_dsm = get_dataframe(base_dsm)

In [13]:
df_base_dsm.describe()

                  x             y             z
count  4.504001e+06  4.504001e+06  4.504001e+06
mean   1.204734e+05  1.295049e+05  3.810560e+01
std    6.577301e+02  5.764489e+02  8.733763e+00
min    1.191030e+05  1.285420e+05  2.617000e+01
25%    1.199150e+05  1.290020e+05  3.222000e+01
50%    1.204780e+05  1.294870e+05  3.443000e+01
75%    1.210410e+05  1.299980e+05  4.103786e+01
max    1.216030e+05  1.305420e+05  1.422800e+02

In [14]:
df_base_dsm

                x         y          z
0        119103.0  128542.0  30.100000
1        119104.0  128542.0  30.209999
2        119105.0  128542.0  30.320000
3        119106.0  128542.0  30.400000
4        119107.0  128542.0  30.480000
...           ...       ...        ...
4503996  121599.0  130542.0  34.570000
4503997  121600.0  130542.0  34.490002
4503998  121601.0  130542.0  34.560001
4503999  121602.0  130542.0  34.590000
4504000  121603.0  130542.0  34.540001

[4504001 rows x 3 columns]

In [15]:
df_base_dsm.to_csv('hainaut.csv', index=False)

In [16]:
show_pcd(df_base_dsm)

In [17]:
print(x)
print(y)

120103.7281311091
127041.13904257026

In [18]:
df_base_dsm['x'].mean()

120473.4299799223

In [19]:
df_base_dsm['y'].mean()

129504.9402835389

In [20]:
small = df_base_dsm[(df_base_dsm["x"] <= x + 25) & 
                    (df_base_dsm["x"] >= x - 25) & 
                    (df_base_dsm["y"] <= y + 25) & 
                     (df_base_dsm["y"] >= y - 25)]

In [21]:
small

Empty DataFrame
Columns: [x, y, z]
Index: []

In [22]:
hainaut = pd.DataFrame()
hainaut['x'] = base_dsm[0]['x'] + x - 1000
hainaut['y'] = base_dsm[0]['y'] + y - 1000
hainaut['z'] = base_dsm[0]['z']

In [23]:
hainaut

                     x              y          z
0        119103.728131  126041.139043  30.100000
1        119104.728131  126041.139043  30.209999
2        119105.728131  126041.139043  30.320000
3        119106.728131  126041.139043  30.400000
4        119107.728131  126041.139043  30.480000
...                ...            ...        ...
4503996  121599.728131  128041.139043  34.570000
4503997  121600.728131  128041.139043  34.490002
4503998  121601.728131  128041.139043  34.560001
4503999  121602.728131  128041.139043  34.590000
4504000  121603.728131  128041.139043  34.540001

[4504001 rows x 3 columns]

In [ ]:
hainaut.to_csv('hainaut.csv', index=False)

In [ ]:
xsmall = hainaut[(hainaut["x"] <= x + 25) & 
                    (hainaut["x"] >= x - 25) & 
                    (hainaut["y"] <= y + 25) & 
                    (hainaut["y"] >= y - 25)]

In [ ]:
small = hainaut[(hainaut["x"] <= x + 50) & 
                    (hainaut["x"] >= x - 50) & 
                    (hainaut["y"] <= y + 50) & 
                    (hainaut["y"] >= y - 50)]

In [ ]:
medium = hainaut[(hainaut["x"] <= x + 75) & 
                    (hainaut["x"] >= x - 75) & 
                    (hainaut["y"] <= y + 75) & 
                    (hainaut["y"] >= y - 75)]

In [ ]:
large = hainaut[(hainaut["x"] <= x + 100) & 
                    (hainaut["x"] >= x - 100) & 
                    (hainaut["y"] <= y + 100) & 
                    (hainaut["y"] >= y - 100)]

In [ ]:
xlarge = hainaut[(hainaut["x"] <= x + 150) & 
                    (hainaut["x"] >= x - 150) & 
                    (hainaut["y"] <= y + 150) & 
                    (hainaut["y"] >= y - 150)]

In [ ]:
small

In [ ]:
show_pcd(xsmall)

In [ ]:
show_pcd(small)

In [ ]:
show_pcd(medium)

In [ ]:
show_pcd(large)

In [ ]:
show_pcd(xlarge)

In [ ]:
show_poisson(small)

In [ ]:
size = small

In [ ]:
pcd = o3d.geometry.PointCloud()
pcd.points = o3d.utility.Vector3dVector(size.to_numpy())
pcd.estimate_normals(search_param=o3d.geometry.KDTreeSearchParamHybrid(radius=0.1, max_nn=30))

with o3d.utility.VerbosityContextManager(o3d.utility.VerbosityLevel.Debug) as cm:
    poisson_mesh, densities = o3d.geometry.TriangleMesh.create_from_point_cloud_poisson(
        pcd, depth=10, linear_fit =True)

densities = np.asarray(densities)
density_colors = plt.get_cmap('viridis')(
    (densities - densities.min()) / (densities.max() - densities.min()))
density_colors = density_colors[:, :3]
density_mesh = o3d.geometry.TriangleMesh()
density_mesh.vertices = poisson_mesh.vertices
density_mesh.triangles = poisson_mesh.triangles
density_mesh.triangle_normals = poisson_mesh.triangle_normals
density_mesh.vertex_colors = o3d.utility.Vector3dVector(density_colors)

vertices_to_remove = densities < np.quantile(densities, 0.01)
density_mesh.remove_vertices_by_mask(vertices_to_remove)

In [ ]:
o3d.io.write_triangle_mesh("houses.obj", density_mesh)